<!DOCTYPE html>
<html lang="en">
<head>
  <title>Classroom Update</title>
  <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<style>
.grid-item {width: 440px;margin-right: 20px}
@media only screen and (max-width: 601px) {
  .grid-item {width: 100%;margin-right: 20px}
}
</style>
</head>
<body style="background:#edf1f3">
 <div class="container ">
<h2 style="text-align:center">{{title}}</h2>
 <a href="https://github.com/mgorabbani/group-post-update" style="
    position: absolute;
    top: 40px;
    right: 20px;">Source Code<i class="fa fa-github" style="padding:10px;font-size:20px" aria-hidden="true"></i></a></h6>

<ul class="grid"  data-masonry='{ "itemSelector": ".grid-item" }'>
     {{#each post}}

     <div class="grid-item">
       <div class="card">
         <div class="card-stacked">
             <div class="card-content">
               <li style="padding:15px">{{this.message}}</li>
             </div>
             <div class="card-action">
               <span style="display:block;font-size:12px;color:#696969">
                 {{this.updated_time}} <a href="{{this.link}}" style="float:right;color:#F14D58">View Post</a>
               </span>

             </div>
          </div>
      </div>
    </div>
     {{/each}}

</ul>
{{date}}
</div>
</body>
</html>
